$primary-color: #3f51b5;

:host {
    max-width: 500px;
    min-width: 400px;
    margin: 0 20px;
}

.profile-container {
    display: flex;
    

    .profile-container--avatar img {
        width: 180px;
        height: 180px;
        background-position: top;
        background-size: cover;
        border-radius: 100%;
        margin-right: 20px;
    }

    .profile-container--data {
        .title {
            margin: 0 0 8px;
        }

        .area {
            color: $primary-color;
            font-weight: 600;
            text-transform: uppercase;
        }

        .star.checked {
            color: orange;
        }

        .price {
            font-weight: 500;
        }
    }
}

.description {
    font-size: 14px;
    margin-top: 20px;
}